*/config/config.php
*/config/constants.php
*/config/database.php
*/config/development
*/logs/log-*.php
*/logs/!index.html
*/cache/*
*/cache/!index.html
system/libraries/Email.php
*.DS_Store
blog/wp-admin/*
.project
