body {
	background: #4a4a4a;
	margin: 0px;
	padding: 0px;
}

a {
	text-decoration: none;
}

.header {
	background: url('/public/img/site/header_background.png') repeat-x left bottom #ffffff;
	width: 100%;
	height: 135px;
}

.header_logo {
	padding: 28px 50px;
	float: left;
}

.header_search {
	padding: 28px 55px;
	float: right;
}

.search_box {
	float: left;
}

.search_box input {
	background-color: #000000;
	color: #00b8e8;
	font-family: Verdana;
	font-size: 12px;
	border: 2px solid #00b8e8;
	border-radius: 5px;
	width: 130px;
	height: 20px;
	margin: 8px 4px;
	padding: 1px 6px;
}

.search_button {
	float: right;
}

.body {
	background: #4a4a4a;
	min-height: 400px;
}

.max_width {
	margin: auto;
	width: 1024px;
}

.side_bar {
	width: 294px;
	padding-top: 20px;
	float: left;
}

.side_bar_nav {
	padding-right: 30px;
}

.nav_menu {
	background: url('/public/img/site/side_nav_menu_button.png') no-repeat;
	font-family: Verdana;
	color: #00b8e8;
	width: 137px;
	height: 36px;
	text-align: center;
	padding: 8px 0px;
	margin: 44px auto;
}

.nav_menu a {
	font-family: Verdana;
	color: #00b8e8;
}

.nav_menu .first_word {
	font-weight: bold;
}

.side_bar_nav .active a {
	color: #ffffff;
	position: relative;
	z-index: 102;
}

.side_bar_nav .active_menu {
	position: absolute;
	margin-left: -6px;
	z-index: 101;
	display: none;
}

.social_networks {
	text-align: center;
	padding-right: 30px;
}

.social_logos img {
	text-align: center;
	margin: 22px 10px;
	cursor: pointer;
}

.content {
	margin-top: 25px;
	float: right;
}

.cover_image {
	position: relative;
}

.cover_image img {
	position: relative;
	z-index: 1;
}

.frame_nav {
	position: absolute;
	bottom: 0px;
}

.frame_nav .inactive {
	background-color: #000000;
}

.frame_nav_menu {
	text-align: center;
	width: 111px;
	height: 23px;
	float: left;
	position: relative;
}

.frame_nav_menu a {
	font-family: Verdana;
	font-size: 12px;
	color: #ffffff;
	position: relative;
	z-index: 10;
}

.frame_content {
	position: absolute;
	top: 0px;
	width: 728px;
	height: 515px;
}

.input_field {
	margin: 30px 30px;
}

.input_field label {
	font-family: Verdana;
	font-size: 18px;
	color: #ffffff;
	padding: 0px 8px;
	display: block;
}

.input_field input[type=text] {
	font-family: Verdana;
	font-size: 18px;
	color: #000000;
	border: none;
	border-radius: 20px;
	width: 100%;
	height: 24px;
	padding: 5px 8px;
	display: block;
}

.input_field textarea {
	font-family: Verdana;
	font-size: 18px;
	color: #000000;
	border: none;
	border-radius: 20px;
	width: 100%;
	height: 113px;
	padding: 5px 8px;
	display: block;
}

.float_50 {
	position: relative;
	z-index: 100;
	width: 50%;
	float: left;
}

.float_100 {
	text-align: center;
	position: relative;
	z-index: 100;
	width: 100%;
	float: left;
}

.container_50 {
	margin: 0px auto;
	padding: 70px 35px;
}

#welcome {
	background-image: url('/public/img/covers/blue_frame.png'), url('/public/img/covers/cover_image_welcome.png');
	background-repeat: no-repeat;
	background-position: 0px -5px, center;
	display: none;
}

#about {
	background-image: url('/public/img/covers/blue_frame_sm.png'), url('/public/img/covers/cover_image_about.png');
	background-repeat: no-repeat;
	background-position: 22px 24px, center;
	display: none;
}

#team {
	background-image: url('/public/img/covers/blue_frame_sm.png'), url('/public/img/covers/cover_image_about.png');
	background-repeat: no-repeat;
	background-position: 22px 24px, center;
	display: none;
}

#contact {
	background-image: url('/public/img/covers/blue_frame_sm.png');
	background-color: #000000;
	background-repeat: no-repeat;
	background-position: 22px 24px;
	display: none;
}

/*** Home version 1 ***/
body#version1 {
	background: #e6e6e6;
}

body#version1 .body {
	background: -webkit-gradient(linear, left top, left bottom, from(#4a4a4a), to(#e6e6e6));
	background: -moz-linear-gradient(top,  #4a4a4a,  #e6e6e6);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4a4a4a', endColorstr='#e6e6e6');
	overflow: hidden;
}

.cover_sliding {
	width: 2949px;
	margin-left: -500px;
}

.cover_image {
	display: inline-block;
	padding: 80px;
}

.cover_image img {
	border: none;
	border-radius: 25px;
	box-shadow: 5px 10px 20px #4a4a4a;
	max-width: 320px;
	max-height: 224px;
}

.cover_image.active img {
	border: none;
	border-radius: 25px;
	box-shadow: 5px 10px 20px #4a4a4a;
	max-width: 1024px;
	max-height: 768px;
}
