body {
	background-color: #494949;
	margin: 0px;
	padding: 0px;
}

#real_body {
	background: url('/public/img/site/header.png') no-repeat;
	width: 1024px;
	min-height: 200px;
	height: 100%;
	margin: 0px auto;
}
